# Group 18 Quiz 6

## Members

1.   Julian Sanchez
2.   Miranda
3.   Yara

In [2]:
import pandas as pd  
  
# assign data of lists.  
data = {'LMA': [ 150, 150, 150, 200, 200, 200, 250, 250, 250], 
        'SMA': [ 15, 20, 25, 15, 20, 25, 15, 20, 25] , 
        'R6M': [ 0.1189096, 0.1621709, 0.1421829, 0.6141999, 0.6295597, 0.6109011, 0.7254273, 0.7285500, 0.7390915], 
        'R2Y': [ 0.1513372, 0.2040487, 0.2383141, 0.2607530, 0.3173821, 0.3398452, 0.3111485, 0.3466548, 0.3576288]}  
  

# Create DataFrame  
df = pd.DataFrame(data)  

df['AR'] = (df['R6M'] + df['R2Y'])/2

df = df.sort_values(by=['AR'], ascending=False)
  
df

   LMA  SMA       R6M       R2Y        AR
8  250   25  0.739092  0.357629  0.548360
7  250   20  0.728550  0.346655  0.537602
6  250   15  0.725427  0.311148  0.518288
5  200   25  0.610901  0.339845  0.475373
4  200   20  0.629560  0.317382  0.473471
3  200   15  0.614200  0.260753  0.437476
2  150   25  0.142183  0.238314  0.190248
1  150   20  0.162171  0.204049  0.183110
0  150   15  0.118910  0.151337  0.135123